
h3 {
    color: blue;
}

body {
    background-color: rgb(188, 209, 247);
}

#city {
    color: darkgreen;
}

#nationality {
    background-color: darkslateblue;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.list-style {
    color: rgb(2, 44, 44);
}

#discurso {
    color: rgb(1, 53, 1);

}